@tailwind base;
@tailwind components;
@tailwind utilities;

/* CabinetGrotesk */
@font-face {
  font-family: 'CabinetGrotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Light.woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'CabinetGrotesk';
  src: url('/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff2');
  font-weight: 900;
}

/* Lato */
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Thin.tff');
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Light.tff');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Regular.tff');
  font-weight: 500;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Bold.tff');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato/Lato-Black.tff');
  font-weight: 900;
}
